@tailwind base;
@tailwind components;
@tailwind utilities;

div label {
    margin-bottom: 0px;
}

div .form-group {
    margin-bottom: 30px;
}

div .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color:#2c909fae;
    border-color: #000000;
}

div .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #157699;
    background-color: #fff;
    border: 1px solid #dee2e6;
}